<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Nokia//DTD PLIST 1.0//EN" "http://www.nokia.com/NOKIA_COM_1/DTDs/plist-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Checkers Online</string>
	<key>Identifier</key>
	<string>com.moubail.checkers_online.widget</string>
	<key>Version</key>
	<string>1.02</string>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>MainHTML</key>
	<string>index.html</string>
</dict>
</plist>
